<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-custom" >
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-search" ng-click="vm.showFilterBar()">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <style>

        .bar.bar-custom .button.button-clear, .bar.bar-custom .title{
            color: #1497EF;
        }

        .bar-custom, .bar-custom .bar.bar-positive, .bar-custom .nav-bar-block ion-header-bar {
            border-color: #FFFFFF;
            background-color: #FFFFFF;
        }

        .menu{
            background-color: #1497EF;
            color: white;
            width: 100px;
        }
        .menu .list{
            padding-top: 20px;
            padding-left: 0px;
        }
        .menu .list .item, .menu .list .item a{
            border: none;
            background-color: #1497EF;
            color: white;
            font-weight: bold;
        }
        .menu .list .item, .menu .list .item a img,
        .menu .list .item, .menu .list .item a span,
        .menu .list .item, .menu .list .item a i{
            vertical-align: middle;
        }
    </style>
    <ion-side-menu side="left" width="200">
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/segmentos-search">
                    <img src="./img/icons/clip-icon-white.svg" alt=""/> <span>Mis clips</span>
                </ion-item>
                <ion-item menu-close href="#/app/my-tags">
                    <img src="./img/icons/tag-icon-white.svg" alt=""/> <span>Mis etiquetas</span>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="vm.logout()">
                    <i class="ion-log-out" style="font-size: 22px; margin-left: 7px; margin-right: 6px;"></i> Salir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
