<ion-view view-title="Mis Etiquetas">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle" ng-repeat="tag in vm.tags">
                {{ tag.nombre }}
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
