<ion-view view-title="Login" name="login-view" cache-view="false">
    <ion-content class="padding">
        <style>
            .scroll-content {
                display: table !important;
                width: 100% !important;
                height: 100% !important;
            }
            .scroll {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }

            .loginForm .item-input{
                padding: 6px 20px;
            }
            .loginForm .btn-submit{
                margin: 15px 0px;
                border-radius: 25px;
                background-color: #1497EF;
                color: #ffffff;
                border: none;
                width: 90%;
            }

            .loginForm input{
                border: none;
                color: #1497EF !important;
                border-bottom: 1px solid #1497EF;
            }

            input::-webkit-input-placeholder {
                color: #1497EF;
            }

            input:-moz-placeholder { /* Firefox 18- */
                color: #1497EF;
            }

            input::-moz-placeholder {  /* Firefox 19+ */
                color: #1497EF;
            }

            input:-ms-input-placeholder {
                color: #1497EF;
            }
        </style>
        <form novalidate name="loginForm" class="loginForm">
            <div class="list">
                <label class="item-input">
                    <input type="text" ng-model="vm.data.username"  placeholder="Usuario">
                </label>
                <label class="item-input">
                    <input type="password" ng-model="vm.data.password" placeholder="Password">
                </label>
            </div>
            <button class="button btn-submit" type="submit" ng-click="vm.login()">Entrar</button>
            <p style="text-align: center; color: #1497EF;">¿Olvidaste el password?</p>
        </form>
    </ion-content>
</ion-view>