<ion-view cache-view="false" view-title="">
    <ion-nav-buttons side="right">
        <button style="padding: 0px 10px;" class="button button-icon button-clear" ng-click="vm.share()">
            <img src="./img/icons/share_white.svg" alt="" style="width: 35px; height: 35px"/>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <style>

            .item{
                border: none;
            }

            .tags{
                list-style: none;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
            }

            .tags li{
                float: left;
                position: relative;
                color: #919191;
                font-size: .8em;
                margin-left: 3px;
            }

            .create_at{
                position: absolute;
                color: #c0c0c0;
                font-size: .8em;
                right: 5px;
                top: 0px;
            }

            .item .title{
                color: #1497EF;
                font-weight: bold;
                font-size: 18px;
                white-space: normal;
            }

            .video-detail{
                padding-top: 4px;
                margin-top: -10px;
            }

            /* STYLE HEADER BAR */
            .bar.bar-custom {
                border-color: rgba(200, 200, 200, 0.01) !important;
                background-color: rgba(200, 200, 200, 0.01) !important;
                background-image: none;
                border: none !important;
            }

            .bar.bar-custom .button.button-clear, .bar.bar-custom .title{
            color: #FFFFFF !important;
        }

            .scroll-content {
                overflow: visible !important;
                top: 0px;
            }
            /* END STYLE HEADER BAR */

            .canal{
                background-color: #ffffff;
                width: 30px;
                height: 30px;
                float: left;
                border-radius: 50%;
                -webkit-box-shadow: 1px 1px .5px 0px rgba(50, 50, 50, 0.1);
                -moz-box-shadow:    1px 1px .5px 0px rgba(50, 50, 50, 0.1);
                box-shadow:         1px 1px .5px 0px rgba(50, 50, 50, 0.1);
                text-align: center;
                padding: 2px;
                position: relative;
            }

            .canal img{
                max-width: 25px;
                max-height: 25px;
                position: absolute;
                margin: auto;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
            }
            #share_icon{
                float: left;
                padding: 0px 10px;
                margin-top: -1px;
                margin-left: 5px;
            }

            iframe{
                width: 100%;
                height: 465px;
                max-width: 600px;
            }
            
            @media (max-width: 600px) {
            iframe {
              height: 465px !important; } }
          @media (max-width: 590px) {
            iframe {
              height: 458px !important; } }
          @media (max-width: 580px) {
            iframe {
              height: 450px !important; } }
          @media (max-width: 570px) {
            iframe {
              height: 443px !important; } }
          @media (max-width: 560px) {
            iframe {
              height: 435px !important; } }
          @media (max-width: 550px) {
            iframe {
              height: 433px !important; } }
          @media (max-width: 540px) {
            iframe {
              height: 420px !important; } }
          @media (max-width: 530px) {
            iframe {
              height: 413px !important; } }
          @media (max-width: 520px) {
            iframe {
              height: 405px !important; } }
          @media (max-width: 510px) {
            iframe {
              height: 398px !important; } }
          @media (max-width: 500px) {
            iframe {
              height: 390px !important; } }
          @media (max-width: 490px) {
            iframe {
              height: 383px !important; } }
          @media (max-width: 480px) {
            iframe {
              height: 375px !important; } }
          @media (max-width: 470px) {
            iframe {
              height: 368px !important; } }
          @media (max-width: 460px) {
            iframe {
              height: 360px !important; } }
          @media (max-width: 450px) {
            iframe {
              height: 353px !important; } }
          @media (max-width: 440px) {
            iframe {
              height: 345px !important; } }
          @media (max-width: 430px) {
            iframe {
              height: 338px !important; } }
          @media (max-width: 420px) {
            iframe {
              height: 330px !important; } }
          @media (max-width: 410px) {
            iframe {
              height: 323px !important; } }
          @media (max-width: 400px) {
            iframe {
              height: 315px !important; } }
          @media (max-width: 390px) {
            iframe {
              height: 308px !important; } }
          @media (max-width: 380px) {
            iframe {
              height: 300px !important; } }
          @media (max-width: 370px) {
            iframe {
              height: 298px !important; } }
          @media (max-width: 360px) {
            iframe {
              height: 291px !important; } }
          @media (max-width: 350px) {
            iframe {
              height: 278px !important; } }
          @media (max-width: 340px) {
            iframe {
              height: 270px !important; } }
          @media (max-width: 330px) {
            iframe {
              height: 263px !important; } }
          @media (max-width: 320px) {
            iframe {
              height: 255px !important; } }
          @media (max-width: 310px) {
            iframe {
              height: 248px !important; } }
          @media (max-width: 300px) {
            iframe {
              height: 240px !important; } }
          @media (max-width: 290px) {
            iframe {
              height: 233px !important; } }
          @media (max-width: 280px) {
            iframe {
              height: 225px !important; } }
          @media (max-width: 270px) {
            iframe {
              height: 218px !important; } }
          @media (max-width: 260px) {
            iframe {
              height: 210px !important; } }
          @media (max-width: 250px) {
            iframe {
              height: 203px !important; } }
          @media (max-width: 240px) {
            iframe {
              height: 195px !important; } }
          @media (max-width: 230px) {
            iframe {
              height: 188px !important; } }
          @media (max-width: 220px) {
            iframe {
              height: 180px !important; } }
          @media (max-width: 210px) {
            iframe {
              height: 173px !important; } }
          @media (max-width: 200px) {
            iframe {
              height: 165px !important; } }
        </style>
        <div class="list" style="margin:0px;">
            <div class="item item-image">
                    <iframe ng-if="vm.segmento.id" ng-src="{{ vm.get_url() }}" allowfullscreen></iframe>
            </div>
            <div class="item video-detail">
                <span class="create_at">Hace {{ vm.segmento.days_since_created }} Días</span><br/>
                <h2 class="title">{{ vm.segmento.titulo }}</h2>
                <p style="white-space: normal;">{{vm.segmento.descripcion }}</p>
                <div style="width: 100%; position: relative; margin-top: 30px; min-height: 50px">
                    <div class="canal">
                        <img ng-src="{{ vm.segmento.channel_icon }}" alt=""/>
                    </div>
                    <ul class="tags" >
                        <li ng-repeat="tag in vm.segmento.tags">#{{ tag.nombre }}</li>

                    </ul>
                    <button id="share_icon" class="button button-icon" ng-click="vm.share()">
                        <img src="./img/icons/share_grey.svg" alt="" style="width: 25px; height: 25px"/>
                    </button>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>