<ion-view view-title="Mis segmentos">
    <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Custom Header</h1>
  </ion-header-bar>
    <ion-content>
        <div class="list card" ng-repeat="segmento in vm.segmentos" >
            <div class="item item-avatar" ui-sref="app.segmento-detail({'id': segmento.id})">
                <img src="avatar.jpg">
                <h2>{{segmento.titulo }}</h2>
            </div>
            <div class="item item-image">
                <img ng-src="{{segmento.main_thumb}}">
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                {{segmento.descripcion }}
            </a>
        </div>
    </ion-content>
</ion-view>